
/hank.dump_hierarchy.xcodeproj/xcuserdata
/hank.dump_hierarchy.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate
hank.dump_hierarchy.xcodeproj/project.xcworkspace/xcuserdata/automation.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
